<table width = 100%>
  <tr>
    <td width = 70%><p><h2 align = left><%= @user.name %></h2> </p>
      <p align = left><%= @user.sex %>
      <p align = left>Location : <%= @user.location %> </p>
      <p align = left>
	Birthday : <%= @user.birthday %>
	
<!-- Note: </p> should be put at show User pages.
  Its been done intentionally to put 'follow/accept/reject options in proper place'-->
