<%= render :partial => 'user/userinfo' %> 
| <%= render :partial => 'user/follow' %>

</td>
<td valign = top width = 30% style="padding-top:20px">
  <%= render :partial => 'user/userfriend' %>
</td>
</tr></table>


<p height = 200><% if @albums.blank? %>
  <h4> No Albums </h4>
<% else %>
<% @albums.each do |a| %>
<p>  <%= link_to a.name, {:controller => 'album', :action => 'show', :id => a.id} %></p>
<% end %>
<% end %>
