<% form_tag ({:action => 'update', :controller => 'pictures'}) do %>
<p>Caption :
  <%= text_field 'picture', 'caption' %>
  <%= hidden_field 'picture', 'id', {:value => @picture.id} %>
  <%= submit_tag "Update" %> </p>
<% end %>
