<% form_tag ({:action => 'update', :controller => 'album'}) do %>
<p><label for="New Abum">Name : </label>
  <%= text_field 'album', 'name' %>
  <%= hidden_field 'album', 'id', {:value => @album.id} %>
  <%= submit_tag "Update" %> </p>
<% end %>
