<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;.
					     charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>picSpot</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body id="library">
    <div id="container">
      <div id="header">
	<table width = 100% >
	  <tr><td>
	      <table>
		<tr>
		  <td><h1>picSp</h1></td>
		  <td><img src = "/images/edited.png" width = 40px></img>
		  <td><h1>t</h1></td>
	      </td></tr></table>
	    </td>
	    <td align = "right" valign = bottom>
	      <% if !session[:user].blank? %>
	      <% form_tag ({:action => 'search', :controller => 'user'}) do %>
	      <p><label>People</label>:
		<%= text_field 'query', 'name', {:size => 20}%>
		<%= submit_tag "Search" %> </p>
	      <% end %>
	      <% end %>	      
	    </td>
	  <tr  bgcolor = #CCFFFF>
	    <td><h3>picSPOT ||||| PICSpot</h3></td>
	    <td align="right">
	      <% if !session[:user].blank? %>
	      | <%= session[:user].name %>
	      | <%= link_to "Home", {:controller => 'user', :action => 'showme'}%>
	      | <%= link_to "Edit", {:controller => 'user', :action => 'edit'}%>
	      | <%= link_to "Logout", {:controller => 'user', :action => 'logout'}%>
	      | <% end %>
	    </td>
	  </tr>
	  </table>
	</div>
	<div id="content" align = "CENTER">
	  <%= notifications %></div>
	<div id="content" align = "LEFT">	
	  <%= yield %>
	  <br></br>
	  <br></br>
	  <br></br>
	</div>
      <div id="sidebar"></div>
      </div>
    </body>
</html>
